
{{#if errorMessage }}
                                    <div class="col-12 col-md-12 col-sm-12 col-lg-12">
                                        <div class="alert alert-danger">
                                            {{ errorMessage }}
                                        </div>
                                    </div>
                                {{/if }}

                                {{#if successMessage }}
                                    <div class="col-12 col-md-12 col-sm-12 col-lg-12">
                                        <div class="alert alert-danger">
                                            {{ successMessage }}
                                        </div>
                                    </div>
                                {{/if }}


   



    
                   

                        <div class="m-5 text-center text-primary fs-1 fw-bold">
                         Your Subscribed Plan
                        </div>

                        <div class="text-center">
                        <h6 class="fw-bold text-primary">You Have Subscribed</h6>
{{specified_plan.plan}}
</div>

<div class="text-center mt-5">
<h6 class="fw-bold text-primary">Subscribed Id </h6>
{{specified_plan._id}}
</div>

<div class="text-center m-5 ">
<h6 class="fw-bold text-primary">Starts From </h6>
{{specified_plan.createdAt}}
</div>

<div class="text-center ">
<h6 class="fw-bold text-primary">Ending At </h6>
{{specified_plan.endingAt}}
</div>

<div class="text-center mt-5">
<h6 class="fw-bold text-primary">Max Allowed Book Count</h6>
{{specified_plan.maxCountBooks}}
</div>

<div class="text-center mt-5">
<h6 class="fw-bold text-primary">Current Rented Book Count</h6>
{{count}}
</div>

<div class="text-center mt-5 mb-5">
<h6 class="fw-bold text-primary">Remaining Allowed Rent Book Count</h6>
{{remainingCount}}
</div>

                        


                  





    {{!-- <div style="width: 50px;">

        <table id="example" class="table table-striped table-bordered dt-responsive wrap" >
        <thead>
            <tr class="text-center">
                <th>No</th>
                <th>Date</th>
                <th>Book Name</th>
                <th>Image</th>
                <th>Status</th>
                <th style="width: 10px">Return</th>
            </tr>
        </thead>
        <tbody>

            {{#each orders}}
            <tr class="text-center">
                <td scope="row" class="index"></td>
                <td>{{this.date}}</td>
                <td>{{this.book.book_name}}</td>
                <td> <img style="width: 50px; height: 50px;" src="/book-images/{{this.book._id}}1.jpeg" alt=""> </td>
                <td>{{this.status}}</td>

                      {{#if this.book.status}}
      <td>Return Request Accepted</td>
      {{else}}
      <td > <a href="/return-order/{{this.book._id}}/{{this.userOriginalId}}/{{this.status}}" 
      class="btn btn-danger btn-sm"  onclick="return confirm('Data ({{this.book_name}})
       will return the book, are you sure ?')" >Return </a> </td>
      {{/if}}
            </tr>
            {{/each}}

        </tbody>
    </table>


    </div> --}}












     